.clear {
	clear:both;
}

#wrapper {
	width:840px;
	margin:0 auto;
}

#header {
	padding:30px;
}

#header h1{
	font-size:70px;
	line-height:70px;
	text-align: center;
}

#search-wrapper {
	width:830px;
	padding:5px;
	margin:0 auto;
	background:#FF9900;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

/*textbox stuff*/
.form_tags {
	margin-bottom: 10px;
}

/* Preloader for autocomplete */
.textboxlist-loading { background: url('images/spinner.gif') no-repeat 380px center; }

/* Autocomplete results styling */
.form_friends .textboxlist-autocomplete-result { overflow: hidden; zoom: 1; }
.form_friends .textboxlist-autocomplete-result img { float: left; padding-right: 10px; }

.note { color: #666; font-size: 90%; }
/*#footer { margin: 50px; text-align: center; }*/

.form_friends {
	display:inline;
}

.textboxlist {
	width: 760px;
	background:#fff;
	display:inline;
	float: left;
}

#submitform {
	height:28px;
	width:70px;
	float:right;
}

#intro {
	padding:50px 0px 50px 0px;
}

.one-of-three {
	float:left;
	width:260px;
	padding:10px;
}

#how-many-recipes {
	text-align:center;
}

#num-recipes {
	font-size:20px;
	line-height:20px;
}

#slideshow {
	float:left;
}

#right-column {
	float:right;
	width:235px;
}

#signIn {
	padding:5px;
	background:#ffcc99;
	height:128px;
}

.form-label {
	font-size:10px;
	line-height:10px;
	padding:0.5em 0px 0.25em 0px;
}

.login-field{
	xbackground:#f0f;
}

.login-field input{
	width:215px;
}

.login-button {
	margin:10px 0px 0px 0px;
	float:right;
}

#user-showcase {
	background:#ffe297;
	height:129px;
	padding:5px;
}

#user-showcase-thumbnail {
	float:right;
}

.photo-wrapper {
	background:#fff;
	padding:6px;

	border:1px solid #ddd;
	border-bottom:1px solid #aaa;
	border-right:1px solid #aaa;

	position:relative;

	display:inline-block;
}

.photo-wrapper span { /*The paperclip*/
	width: 30px;
	height: 60px;
	display: block;
	position: absolute;
	top: -4px;
	right: 50px;
	background: url(/media/img/paperclip.png) no-repeat;
	z-index: 3;
}

/* recip_detail styling */

#page {
	background:#ffefc6;
	padding:30px;

}

#page h2 {
	background:url(/media/img/ribbon-small.png) no-repeat;
	height:44px;
	width:173px;
	padding:11px 10px 14px 16px;
	margin:30px 0px 16px -41px;
	display:inline-block;
	font-size:26px;
	color:#fff;
	text-shadow: #7d1e00 0px -1px 0px;
}

#recipe_image_wrapper {
	float:right;
	margin:-30px 0px 30px 30px;
}

#recipe_image_wrapper img{
	width:350px;
}

.instructions {
	line-height:1.5em;
}

.recipe-thumbnail img{
	width:100px;
}
