{%extends 'base.html'%}

{%block title%}
{{profile.user.get_full_name}}'s Profile - Digichef
{%endblock title%}

{%block header %}
<h1>{{profile.user.get_full_name}}'s Profile</h1>
{%endblock header %}

{%block content%}
<div id='page'>
	<div class="photo-wrapper">
		<span></span>
		<img src="/media/img/profile-pictures/{{profile.user.username}}-300x300.jpg" />
	</div>

	<h2>About me</h2>
	<p>{{profile.about}}</p>

	<h2>I like these:</h2>
	<ul>
	{%for recipe in recipes_liked%}
		<li><a href="{{recipe.get_absolute_url}}">
				<span class="photo-wrapper recipe-thumbnail">
					<img class="recipe_thumbnail" src="{{recipe.image_url}}" />
				</span>
				{{recipe.title}}
			</a>
		</li>
	{%endfor%}
	</ul>

</div>
{%endblock content%}
