{% extends "base.html" %}

{%block styles%}
	<link rel="stylesheet" href="/media/css/BarackSlideshow.css" type="text/css" media="screen" title="Stylesheet" charset="utf-8" />
	<link rel="stylesheet" href="/media/css/demo.css" type="text/css" media="all" title="Stylesheet" charset="utf-8" />

	<link rel="stylesheet" href="/media/css/TextboxList.css" type="text/css" media="screen" charset="utf-8" />
	<link rel="stylesheet" href="/media/css/TextboxList.Autocomplete.css" type="text/css" media="screen" charset="utf-8" />
{%endblock styles%}

{%block scripts%}
	<script type="text/javascript" charset="utf-8" src="/media/scripts/mootools-1.2.1-core-yc.js"></script> 
	<script type="text/javascript" charset="utf-8" src="/media/scripts/mootools-1.2.2.2-more.js"></script>
	<script type="text/javascript" charset="utf-8" src="/media/scripts/Fx.MorphList.js"></script>
	<script type="text/javascript" charset="utf-8" src="/media/scripts/BarackSlideshow.js"></script>    
	<script type="text/javascript" charset="utf-8" src="/media/scripts/demo.js"></script>

	<script src="/media/scripts/GrowingInput.js" type="text/javascript" charset="utf-8"></script>
		
	<script src="/media/scripts/TextboxList.js" type="text/javascript" charset="utf-8"></script>		
	<script src="/media/scripts/TextboxList.Autocomplete.js" type="text/javascript" charset="utf-8"></script>
	<script src="/media/scripts/TextboxList.Autocomplete.Binary.js" type="text/javascript" charset="utf-8"></script>

	<script type="text/javascript" charset="utf-8">
		//<![CDATA[

		window.addEvent('load', function(){

			// Autocomplete initialization
			var t4 = new TextboxList('form_tags_input_3', {unique: true, plugins: {autocomplete: {}}});
//			t4.add('John Doe').add('Jane Roe');

			t4.container.addClass('textboxlist-loading');													 
			new Request.JSON({url: 'api/json_tags', onSuccess: function(r){
				t4.plugins['autocomplete'].setValues(r);
				t4.container.removeClass('textboxlist-loading');
			}}).send();														 

		});
		//]]>
	</script> 
{%endblock scripts%}

{% block home_link %}
	<h1>Digichef</h1>
{% endblock home_link%}

{% block content%}
	<div id='search-wrapper'>
		<form action="{%url api_collab_search%}" accept-charset="utf-8" method="post">
			<div class="form_friends">
				<input type="text" name="q" value="" id="form_tags_input_3" />
				<input type="submit" value="Search" id="submitform" />
				<div class="clear"></div>
			</div>
		</form>
	</div>

	<div id='intro'>
		<div class="one-of-three">
			<p>Welcome to Digichef! Just type what ingredients you have into the box to get started.</p>
		</div>
		<div class="one-of-three" id="how-many-recipes">
			<p>We have</p>
			<p id="num-recipes">{{number_of_recipes}}</p>
			<p>great recipes!</p>
		</div>
		<div class="one-of-three">
			<p>If you join up we can recommend recipes that you'd like</p>
		</div>
		<div class='clear'></div>
	</div>

	</div id='container'>
		<div id="slideshow">   

			<span id="loading">Loading</span>

			<ul id="pictures">
				{%for s_recipe in slideshow_recipes%}
				<li><a href="{{s_recipe.get_absolute_url}}"><img src="{{s_recipe.image_url}}" alt="{{s_recipe.title}}" title="{{s_recipe.title}}" class="slideshow-picture" width=438px /></a></li>
				{%endfor%}   
			</ul>

			<ul id="menu">
				{%for s_recipe in slideshow_recipes%}
				<li><a href="{{s_recipe.image_url}}">{{s_recipe.title|truncatewords:5}}</a></li>
				{%endfor%}
			</ul>
			<div id="slideshow-options">
				<!--<h3><label for="option-auto">Auto</label> <input type="checkbox" name="auto" checked="checked" id="option-auto" /></h3>-->
				<p name="auto" id="option-auto" />
			</div>
		</div><!--end slideshow-->


		<div id='right-column'>
			<div id="signIn">
				<form method="post" action= "{% url django.contrib.auth.views.login %}">
					<p class="form-label">{{ loginform.username.label_tag }}</p>
					<div class="login-field">{{ loginform.username }}</div>
					<p class="form-label">{{ loginform.password.label_tag }}</p>
					<div class="login-field">{{ loginform.password }}</div>
					<input class="login-button" type="submit" value="login" />
					<input type="hidden" name="next" value="{{ next }}" />
					<div class='clear'></div>
				</form>
			</div>

			<div id="user-showcase">
				<div class="photo-wrapper"  id="user-showcase-thumbnail">
					<img class="user-thumbnail" src="/media/img/user.jpg" alt="User thumbnail"/>
				</div>
				<p>User of the week:<br/>Scarlett Johansson.<br/>
				About:<br/>Cookings my favourite hobby.</p>
			</div>
			<div class='clear'></div>
		</div><!-- end right column div -->
		<div class='clear'></div>
	</div>
{% endblock %}




