<html>

<head>
	
<LINK REL=StyleSheet HREF="style.css" TYPE="text/css">

</head>

<body>
	
<div id='main'>
	
<div id='header'>Digital Chef</div>

<div id='sidebar'>
	<ul>
		<li><a href='/recipes/'>Recipes</a></li>
</div>	

<div id='mainSection'>
	
	<form>

	<select name="ingredient1">
	<option value="">Nothing</option>
	{% for ingredient in ingredients %}
	<option value="{{ingredient.name}}">{{ingredient.name}}</option>
	{% endfor %}
	</select>

	<select name="ingredient2">
	<option value="">Nothing</option>
	{% for ingredient in ingredients %}
	<option value="{{ingredient.name}}">{{ingredient.name}}</option>
	{% endfor %}
	</select>

	<select name="ingredient3">
	<option value="">Nothing</option>
	{% for ingredient in ingredients %}
	<option value="{{ingredient.name}}">{{ingredient.name}}</option>
	{% endfor %}
	</select>

	<input type="hidden" name="submitted" value="True" />

	<input type="submit" value="Search" />

	</form>
	
	
	
</div>

<div id='footer'> GRP DIGI CHEF :D </div>

</div>

</body>

</html>
