{% extends "base.html" %}


{%block styles%}
<link rel="stylesheet" media="all" href="/media/css/niceforms-default.css" />

{%endblock styles%}

{% block header	%}

{% block home_link %}
	<h1>Digichef</h1>
{% endblock home_link%}
{% endblock header%}
{%block content%}
<div class="orange">
        <div id="waxcontainer">
        <div id="waxnav">
        <ul>
        <li><a href="" title=""><span>Home</span></a></li>
        <li><a href="" title=""><span>My Profile</span></a></li>
        <li><a href="" title=""><span>About Us</span></a></li>
        </ul>
        </div>
        </div>
        </div>
		

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}



<form method="post" action="{% url django.contrib.auth.views.login %}" class="niceform">
	<fieldset>
    	<legend>Incorrect Username/Password</legend>
		<dl>
        	<dt><label for="email">{{ form.username.label_tag }}</label></dt>
            <dd>{{ form.username }}</dd>
        </dl>
		<dl>
        	<dt><label for="email">{{ form.password.label_tag }}</label></dt>
            <dd>{{ form.password }}</dd>
        </dl>
		<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
    </fieldset>
   
</form>


<!--



<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
-->
{% endblock %}
