{% extends "base.html" %}


{%block styles%}
<link rel="stylesheet" media="all" href="/media/css/niceforms-default.css" />

{%endblock styles%}

{%block content%}
<div class="orange">
        <div id="waxcontainer">
        <div id="waxnav">
        <ul>
        <li><a href="/" title=""><span>Home</span></a></li>
        {%if user.is_authenticated%}
		<li><a href="/profiles/{{user.username}}" title="" class="current"><span>My Profile</span></a></li>
		{%endif%}
		<li><a href="" title=""><span>About Us</span></a></li>
        </ul>
        </div>
        </div>
        </div>	
		<br />
		
<div id="container">
<form action="" method="post" class="niceform">
	<fieldset>
    	<legend>Edit Profile</legend>
		<dl>
        	<dt><label for="email">{{ field.label_tag }}</label></dt>
            <dd><input type="text" name="email" id="email" size="32" maxlength="128" />{{ field }}</dd>
        </dl>
       <p><input type="submit" value="Submit" /></p>
    </fieldset>
    
</form>
</div>
		
		
<!--		
	
<form action="" method="post">
    {% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }}: {{ field }}
        </div>
    {% endfor %}
    <p><input type="submit" value="Submit" /></p>
</form>
-->
{%endblock content%}
